body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
